<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ pageTitle }}</title>
        <link
            href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="max-w-xl mx-auto">
            {% include navbar %}
            {{ content }}
        </div>
    </body>
</html>
