<nav class="max-w-xl mx-auto px-4">
    <div class="flex justify-between items-center py-4">
        <a class="font-lexa relative z-20 text-xl dark:text-white font-semibold hover:underline" href="/">
            Garrett Bland
        </a>
        <div class="flex items-center flex-row space-x-2">
            <button class="transform ease-in-out duration-150 hover:scale-110 origin-center p-1 hover:bg-gray-100 dark:hover:bg-blue-900 rounded-lg" x-on:click="toggleDarkMode()">
                <div class="relative w-8 h-8">
                    <!-- Sun Icon -->
                    <svg class="h-8 w-8 p-1 text-gray-700 hover:text-gray-700 dark:text-blue-50 absolute top-0 left-0" fill="none" stroke="currentColor" viewbox="0 0 24 24" x-show="isDarkModeEnabled" x-transition.opacity xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                    </svg>
                    <!-- End Sun Icon -->
                    <!-- Moon Icon -->
                    <svg class="h-8 w-8 p-1 text-gray-700 absolute top-0 left-0" fill="none" stroke="currentColor" viewbox="0 0 24 24" x-show="!isDarkModeEnabled" x-transition.opacity xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                    </svg>
                    <!-- End Moon Icon -->
                </div>
            </button>
            <a class="transform ease-in-out duration-150 hover:scale-110 origin-center p-1 hover:bg-gray-100 dark:hover:bg-blue-900 rounded-lg" href="https://github.com/garrettbland" rel="noreferrer" target="_blank">
                <img alt="github-logo" class="w-8 h-8" src="/images/github.png" />
            </a>
            <a class="transform ease-in-out duration-150 hover:scale-110 origin-center p-1 hover:bg-gray-100 dark:hover:bg-blue-900 rounded-lg" href="https://twitter.com/gbland777" rel="noreferrer" target="_blank">
                <img alt="twitter-logo" class="w-8 h-8" src="/images/twitter.png" />
            </a>
            <a class="transform ease-in-out duration-150 hover:scale-110 origin-center p-1 hover:bg-gray-100 dark:hover:bg-blue-900 rounded-lg" href="https://www.linkedin.com/in/garrett-bland-700a9b224/" rel="noreferrer" target="_blank">
                <img alt="linkedin-logo" class="w-8 h-8" src="/images/LinkedIn.svg" />
            </a>
        </div>
    </div>
    <!-- Divider -->
    <div class="h-px w-full bg-gradient-to-r from-transparent via-gray-200 to-transparent mb-6 dark:via-indigo-700"></div>
    <!-- End Divider -->
</nav>