<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{ pageTitle }}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="/assets/main.css" rel="stylesheet" type="text/css"/>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141785747-5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-141785747-5');
        </script>
    </head>
    <body>
        <div class="max-w-xl mx-auto px-4 md:px-0 mb-24">
            {% include navbar %}
            {{ content }}
        </div>
        <script src="/assets/main.js"></script>
    </body>
</html>
