<div class="flex justify-between items-center py-4">
    <a class="text-xl hover:underline" href="/">
        Garrett Bland
    </a>
    <div class="flex items-center flex-row">
        <a class="transform ease-in-out duration-150 hover:rotate-25 origin-center mx-3" href="https://github.com/garrettbland" target="_blank">
            <img class="w-8 h-8" src="/images/github.png" alt="github-logo"/>
        </a>
        <a class="transform ease-in-out duration-150 hover:rotate-25 origin-center" href="https://twitter.com/gbland777" target="_blank">
            <img class="w-8 h-8" src="/images/twitter.png" alt="twitter-logo"/>
        </a>
    </div>
</div>
<div class="h-px w-full bg-gray-200 mb-6"></div>