---
title: 'Garrett Bland'
description: 'Im Garrett Bland, a Lead Senior React Developer with Ally Bank.'
---

<!-- Intro -->
<section>
    <div class="prose dark:prose-dark">
        <div class="h-32 w-32 mb-12 relative">
            <div class="absolute top-0 left-0 z-10 transform rotate-6 rounded-md bg-gradient-to-br from-blue-500 to-purple-500 w-full h-full"></div>
            <img alt="Garrett Bland" class="relative z-20 h-full w-full object-cover object-center rounded-md mb-6 shadow-lg" src="/images/garrett-bland-headshot.jpg">
        </div>
        <h1>Hello! 👋</h1>
        <p>
            I'm Garrett Bland, a Lead Principal Javascipt Engineer with
            <a class="text-blue-600 hover:underline" href="https://www.ally.com/" rel="noreferrer" target="_blank">
                Ally Bank</a>. I develop heavily in React & Typescript, as well as lead a UI team that delivers awesome products 
            across multiple lines of business in the financial industry. We focus primarily on web and mobile projects
            using React and React Native.
        </p>
        <p>
            I'm an inspiring entreprenuer and love jumping into new things and learning.
            I've created a handful of projects using various technologies, and always try
            to do uncomfortable things to help grow as a developer and a human.
        </p>
        <p>
            Lately I've been getting my hands messy with the new OpenAI technology, 
            decentralized authentication with web3, and have been doing a lot more
            Swift. (The Swift bit is for getting back into mobile development 👀)
        </p>
    </div>
</section>
<!-- End Intro -->

<!-- Talks -->
<section>
    <div class="prose dark:prose-dark">
        <h3 class="flex items-center space-x-4">
            <span class="text-3xl mr-2">🎙️</span>
            Talks
        </h3>
        <ul>
            <li>
                <a href="/post/understanding-javascripts-event-loop-and-call-stack" class="block">
                    Understanding Javascript's Event Loop and Call Stack
                </a>
                <span class="text-sm">ThunderPlains 2023 | Oklahoma City, OK</span>
            </li>
        </ul>
    </div>
</section>
<!-- End Projects & Packages -->

<!-- Projects -->
<section>
    <div class="prose dark:prose-dark">
        <h3 class="flex items-center space-x-4">
            <span class="text-3xl mr-2">📦</span>
            Projects
        </h3>
        <ul>
            {% for project in projects %}
                <li>
                    <a href="/projects/{{ project.data.title | slug }}">
                        {{ project.data.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
<!-- End Projects & Packages -->

<!-- Packages -->
<section>
    <div class="prose dark:prose-dark">
        <h3 class="flex items-center space-x-4">
            <img src="/images/npm.png" alt="NPM logo" class="w-[30px] mr-3" style="margin-top: 0px; margin-bottom: 0px;"/>
            Packages
        </h3>
        <ul>
            <li>
                <a href="https://www.npmjs.com/package/use-page-offset" target="_blank">
                    use-page-offset
                </a>
            </li>
            <li>
                <a href="https://www.npmjs.com/package/@garrettbland/img-alt-tag-check" target="_blank">
                    @garrettbland/img-alt-tag-check
                </a>
            </li>
            <li>
                <a href="https://www.npmjs.com/package/@garrettbland/lazy-load-images" target="_blank">
                    @garrettbland/lazy-load-images
                </a>
            </li>
            <li>
                <a href="https://www.npmjs.com/package/vue-google-ad-manager" target="_blank">
                    vue-google-ad-manager
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- End Projects & Packages -->

<!-- About this site -->
<section>
    <div class="prose dark:prose-dark">
        <h3>
            <span class="text-3xl mr-2">🛠</span>
            What is this site made with?</h3>
        <p>
            This site is being developed using
            <a href="https://www.11ty.dev/">11ty</a>
            and is hosted on
            <a href="https://www.netlify.com/" rel="noreferrer" target="_blank">
                Netlify.
            </a>
            For the design I am using
            <a href="https://tailwindcss.com/" rel="noreferrer" target="_blank">
                Tailwind CSS.
            </a>
             The javascript used on this site is the amazing
            <a href="https://alpinejs.dev/" rel="noreferrer" target="_blank">
                Alpine JS.
            </a>
        </p>
    </div>
</section>
<!-- End About this site -->