---
title: 'test'
---

<section>
    <div>
        {% highlight js %}
        function myFunction() {
    return true;
}
        {% endhighlight %}
    </div>
</section>

<section>
    <div>
        {% highlight js %}
        function (eleventyConfig) {
            return {
                name: 'garrett'
            }
        }
        {% endhighlight %}
    </div>
</section>